#clockdate{
	float:right;
}
.clockdate-wrapper {
    background-color: #333;
    padding:10px;
    max-width:170px;
    width:100%;
    text-align:center;
    margin:0 0 -2px 0; 
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:25px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
	color:#888;
	text-shadow:0px 0px 1px #333;
	font-size:17px;
	position:relative;
	top:-7px;
}
#date {
    font-size:11px;
    font-family:arial,sans-serif;
    color:#fff;
}
nav.navbar-inverse{
	height:72px;
	position:fixed;
	width:100%;
	top:0;
	z-index:99999999999;
}
.hederimg{
	height:40px;
	width:auto;
	margin-top:15px;
	margin-left:15px;
}
.topmost{
	margin-top:6em;
}
strong.panelinputtitle{
	font-size:20px;
}
strong.panelresulttitle{
	font-size:20px;
	color:white;
}
.resultimg{
	margin:5px;
}
.jumbotron{
	padding-bottom:10px;
	margin:10px;
}
.panel-success{
	border-color:#00b33c;
}
.panel-success .pheading{
	background-color:#00b33c;
}
.watermarkedimages .jumbotron{
	border-radius:5px;
	margin-right:auto;
	margin-left:auto
}
.alert-warning{
	margin:2em;
}